body {
  font-family: Roboto;
}
.header {
  background: #ffffff;
  border: 1px solid #ececec;
}
.hero {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background: #2f303a;
}
.footer {
  background: #2f303a;
}
.logo {
  text-decoration: none;
}
.logo-web {
  color: #2196f3;
  height: 31px;
  width: 145px;
  border-radius: nullpx;
  font-family: Raleway;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 31px;
}

.studio {
  font-family: Oleo Script;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 35, 96px;
  color: black;
}

.studios {
  font-family: Oleo Script;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 35, 96px;
  color: white;
}
ul > li {
  display: inline;
}

.nav-menu {
  height: 16px;
  width: 294px;
  left: 453px;
  top: 32px;
  border-radius: nullpx;
}

.link:hover,
.link:focus {
  color: #2196f3;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  background-color: white;
  text-decoration: none;
}

.nav-link-adress {
  color: #757575;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  text-decoration: none;
}
.hero-title {
  height: 120px;
  width: 696px;
  color: #ffffff;
  font-size: 44px;
  font-style: normal;
  font-weight: 900;
  line-height: 60px;
  text-align: center;
}
.btn:hover,
.btn:focus {
  color: #ececec;
  border-color: currentColor;
  background-color: #5917d4;
  height: 50px;
  width: 200px;
  border-radius: 4px;
}

.work {
  width: 1170px;
  height: 101px;
  display: inline;
}
.box {
  height: 101px;
  width: 270px;
}
.title-box {
  width: 270px;
  height: 16px;

  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;

  color: #212121;
}

.title-text {
  width: 270px;
  height: 75px;
  left: 215px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #757575;
}
.information-title {
  width: 376px;
  height: 42px;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
}
.section-team {
  background: #f5f4fa;
}

.name {
  font-weight: 500;
  color: #212121;
}

.speciality {
  color: #757575;
}

.adress {
  width: 231px;
  height: 21px;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.link-adress {
  width: 231px;
  height: 21px;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
}
